<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <!--<script src='angular.js'></script>-->
    <script src='controller.js'></script>
  <head>
  <body>
    <div ng-controller='SayController'>
      <input ng-model='greeting.text'>
      <p> {{greeting.text}}, World</p>
    </div>
    <div ng-controller='OtherController'>
      <input ng-model='sometext'>
      <p> {{sometext}}</p>
    </div>
    <script>
      function OtherController($scope) {
        $scope.someText = 'You have started your journey.';
      }
    </script>
  </body>
</html>
