<html ng-app='myApp'>
  <body ng-controller='TextController'>
    <input ng-model='someText.message'>
    <p>{{someText.message}}</p>

    <form ng-submit="requestFunding()">
      Starting: <input ng-change="computeNeeded()" ng-model="startingEstimate">
      Recommendation: {{needed}}
      <button>Fund my startup!</button>
      <button ng-click="reset()">Reset</button>
    </form>
  <script src='angular.js'></script>
  <script>
    var myAppModule = angular.module('myApp', []);
      myAppModule.controller('TextController',
        function($scope) {
          var someText = {};
          someText.message = 'You have started your journey.';
          $scope.someText = someText;
          $scope.computeNeeded = function() {
            $scope.needed = $scope.startingEstimate * 10;
          };
          $scope.requestFunding = function() {
            window.alert("Sorry, please get more customers first.");
          };
          $scope.reset = function() {
            $scope.startingEstimate = 0;
          };
        }

      );
  </script>
</body>
</html>
