<html ng-app>
  <head>
    <script src='angular.js'></script>
    <script src='controller1.js'></script>
    <!--link rel='stylesheet' type='text/css' href='mystyles.css' media='screen' /-->
    <style media='screen' type='text/css'>
      .menu-disabled-true {
        color: gray;
      }
      .error {
        background-color: red;
      }
      .warning {
        background-color: yellow;
      }
    </style>
  <head>

  <body>
    <div ng-controller='SayController'>
      <input ng-model='greeting.text'>
      <p> {{greeting.text}}, World</p>
    </div>
    <div ng-controller='HeaderController'>
      <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
      <button ng-click='showError()'>Simulate Error</button>
      <button ng-click='showWarning()'>Simulate Warning</button>
    </div>


    <div ng-controller='DeathController'>
      <button ng-click='toggleMenu()'>Toggle Menu</button>
      <ul ng-show='menuState.show'>
        <li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>{{menu.text}}</li>
        <li ng-click='disintegrate()'>Disintegrate</li>
        <li ng-click='erase()'>Erase from history</li>
      </ul>
    <div/>

    <script>
        function HeaderController($scope) {
          $scope.isError = false;
          $scope.isWarning = false;
          $scope.showError = function() {
            $scope.messageText = 'This is an error';
            $scope.isError = true;
            $scope.isWarning = false;
          };
          
          $scope.showWarning = function() {
            $scope.messageText = 'Just a warning, Please carry on';
            $scope.isWarning = true;
            $scope.isError = false;
          };
        }
        function DeathController($scope) {
          $scope.isDisabled = false;
          $scope.menu = { text: 'Stun'}
          $scope.menuState = {show: false}
          //$scope.menuState.show = false;
          $scope.toggleMenu = function() {
            $scope.menuState.show = !$scope.menuState.show;
          };
          $scope.stun = function() {
            $scope.isDisabled = 'true';
          };
        }
    </script>
  </body>
</html>
