// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.done-true {
  text-decoration: line-through;
  color: grey;
}
